In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import requests
import pandas as pd
import numpy as np

**<h2>States Mapping</h2>**

In [3]:
# states full names

state_name_dict = {'AP': 'Andhra Pradesh',
 'AR': 'Arunachal Pradesh',
 'AS': 'Assam',
 'BR': 'Bihar',
 'CT': 'Chhattisgarh',
 'GA': 'Goa',
 'GJ': 'Gujarat',
 'HR': 'Haryana',
 'HP': 'Himachal Pradesh',
 'JH': 'Jharkhand',
 'KA': 'Karnataka',
 'KL': 'Kerala',
 'MP': 'Madhya Pradesh',
 'MH': 'Maharashtra',
 'MN': 'Manipur',
 'ML': 'Meghalaya',
 'MZ': 'Mizoram',
 'NL': 'Nagaland',
 'OR': 'Odisha',
 'PB': 'Punjab',
 'RJ': 'Rajasthan',
 'SK': 'Sikkim',
 'TN': 'Tamil Nadu',
 'TG': 'Telangana',
 'TR': 'Tripura',
 'UP': 'Uttar Pradesh',
 'UT': 'Uttarakhand',
 'WB': 'West Bengal',
 'AN': 'Andaman and Nicobar Islands',
 'CH': 'Chandigarh',
 'DN': 'Dadra and Nagar Haveli and Daman and Diu',
 'DL': 'Delhi',
 'JK': 'Jammu and Kashmir',
 'LA': 'Ladakh',
 'LD': 'Lakshadweep',
 'PY': 'Puducherry'}

In [4]:
len(state_name_dict)

36

- Fetching DATA (data.min.json)

In [5]:
data_min = requests.get('https://data.covid19india.org/v4/min/data.min.json')

In [6]:
data_min

In [7]:
states = data_min.json()

In [8]:
len(states.keys())

37

In [9]:
print(sorted(state_name_dict.keys()))
print(sorted(states.keys()))

['AN', 'AP', 'AR', 'AS', 'BR', 'CH', 'CT', 'DL', 'DN', 'GA', 'GJ', 'HP', 'HR', 'JH', 'JK', 'KA', 'KL', 'LA', 'LD', 'MH', 'ML', 'MN', 'MP', 'MZ', 'NL', 'OR', 'PB', 'PY', 'RJ', 'SK', 'TG', 'TN', 'TR', 'UP', 'UT', 'WB']
['AN', 'AP', 'AR', 'AS', 'BR', 'CH', 'CT', 'DL', 'DN', 'GA', 'GJ', 'HP', 'HR', 'JH', 'JK', 'KA', 'KL', 'LA', 'LD', 'MH', 'ML', 'MN', 'MP', 'MZ', 'NL', 'OR', 'PB', 'PY', 'RJ', 'SK', 'TG', 'TN', 'TR', 'TT', 'UP', 'UT', 'WB']

In [10]:
states['TT']

{'delta': {'confirmed': 12907,
  'deceased': 251,
  'other': 1,
  'recovered': 13152,
  'tested': 881379,
  'vaccinated1': 750410,
  'vaccinated2': 933460},
 'delta21_14': {'confirmed': 109755},
 'delta7': {'confirmed': 96071,
  'deceased': 3727,
  'other': 37,
  'recovered': 101753,
  'tested': 8431577,
  'vaccinated1': 15883780,
  'vaccinated2': 24527530},
 'meta': {'date': '2021-10-31',
  'last_updated': '2021-11-01T11:20:24+05:30',
  'population': 1332900000,
  'tested': {'date': '2021-10-31',
   'source': 'https://twitter.com/ICMRDELHI/status/1455013648355577862?s=20'},
  'vaccinated': {'date': '2021-10-31',
   'source': 'https://www.pib.gov.in/PressReleasePage.aspx?PRID=1768299'}},
 'total': {'confirmed': 34285612,
  'deceased': 458470,
  'other': 13197,
  'recovered': 33661339,
  'tested': 609201294,
  'vaccinated1': 732371508,
  'vaccinated2': 330752697}}

In [11]:
states['AN']

{'delta': {'tested': 1376, 'vaccinated1': 3, 'vaccinated2': 13},
 'delta21_14': {'confirmed': 9},
 'delta7': {'confirmed': 3,
  'recovered': 5,
  'tested': 8936,
  'vaccinated1': 884,
  'vaccinated2': 10640},
 'districts': {'Nicobars': {'delta7': {'vaccinated1': 62, 'vaccinated2': 811},
   'meta': {'population': 36842},
   'total': {'vaccinated1': 25394, 'vaccinated2': 20313}},
  'North and Middle Andaman': {'delta': {'vaccinated2': 8},
   'delta7': {'vaccinated1': 90, 'vaccinated2': 1839},
   'meta': {'population': 105597},
   'total': {'vaccinated1': 78945, 'vaccinated2': 59522}},
  'South Andaman': {'delta': {'vaccinated1': 3, 'vaccinated2': 28},
   'delta7': {'vaccinated1': 732, 'vaccinated2': 8012},
   'meta': {'population': 238142},
   'total': {'vaccinated1': 189662, 'vaccinated2': 120322}},
  'Unknown': {'delta21_14': {'confirmed': 9},
   'delta7': {'confirmed': 3, 'recovered': 5},
   'total': {'confirmed': 7651, 'deceased': 129, 'recovered': 7518}}},
 'meta': {'date': '2021-10-31',
  'last_updated': '2021-11-01T11:03:10+05:30',
  'population': 397000,
  'tested': {'date': '2021-10-31',
   'source': 'https://dhs.andaman.gov.in/NewEvents/851.pdf'},
  'vaccinated': {'date': '2021-10-31'}},
 'total': {'confirmed': 7651,
  'deceased': 129,
  'recovered': 7518,
  'tested': 598033,
  'vaccinated1': 294001,
  'vaccinated2': 200157}}

In [14]:
states['AN']['delta21_14'] # As there is minimal data present in delta21_14 i'm not considering it in our further parts.

{'confirmed': 9}

In [13]:
states['TT']['meta']
states['TT']['total']

{'date': '2021-10-31',
 'last_updated': '2021-11-01T11:20:24+05:30',
 'population': 1332900000,
 'tested': {'date': '2021-10-31',
  'source': 'https://twitter.com/ICMRDELHI/status/1455013648355577862?s=20'},
 'vaccinated': {'date': '2021-10-31',
  'source': 'https://www.pib.gov.in/PressReleasePage.aspx?PRID=1768299'}}

{'confirmed': 34285612,
 'deceased': 458470,
 'other': 13197,
 'recovered': 33661339,
 'tested': 609201294,
 'vaccinated1': 732371508,
 'vaccinated2': 330752697}

**<h2>ALL STATES</h2>**

In [14]:
# loopng through the data for the total states data
all_states = []

for i in states.keys():
    if i not in 'TT':
        state = i
        population = int(states[i]['meta']['population'])
        confirmed = int(states[i]['total']['confirmed'])
        deceased = int(states[i]['total']['deceased'])
        recovered = int(states[i]['total']['recovered'])
        tested = int(states[i]['total']['tested'])
        vaccinated1 = int(states[i]['total']['vaccinated1'])
        vaccinated2 = int(states[i]['total']['vaccinated2'])

        dict_all_states = {'state' : state_name_dict[state], 'state_short' : state, 'state_total_confirmed' : confirmed,'state_total_population' : population, 'state_total_deceased' : deceased, 'state_total_recovered' : recovered, 'state_total_tested' : tested, 'state_total_vaccinated_1' : vaccinated1, ' state_total_vaccinated_2' :vaccinated2}
        all_states.append(dict_all_states)

In [15]:
# creating dataframe of states total

all_states_df = pd.DataFrame(all_states)
print(len(all_states_df))
all_states_df.head(5)

36

,state,state_short,state_total_confirmed,state_total_population,state_total_deceased,state_total_recovered,state_total_tested,state_total_vaccinated_1,state_total_vaccinated_2
0,Andaman and Nicobar Islands,AN,7651,397000,129,7518,598033,294001,200157
1,Andhra Pradesh,AP,2066450,52221000,14373,2047722,29518787,32976969,20375181
2,Arunachal Pradesh,AR,55155,1504000,280,54774,1185436,771875,534486
3,Assam,AS,610645,34293000,5997,600974,24712042,20172463,8068795
4,Bihar,BR,726098,119520000,9661,716390,50531824,49874828,18346781

In [55]:
# converting to csv states total
all_states_df.to_csv('ALL_STATES.csv',index=False)

**<h2>States Wise Delta Virus</h2>**

In [16]:
states['AN']['delta']     # SAMPLE

{'tested': 1376, 'vaccinated1': 3, 'vaccinated2': 13}

In [17]:
#  loopng through the data for delta of states

states_delta_virus = []
for i in states.keys():
    if i not in 'TT':
        state = i
        confirmed = 0
        recovered = 0
        deceased = 0
        tested = 0
        vaccinated1 = 0
        vaccinated2 = 0
        if 'confirmed' in states[i]['delta']:
            confirmed+=int(states[i]['delta']['confirmed'])

        if 'recovered' in states[i]['delta']:
            recovered+=int(states[i]['delta']['recovered'])

        if 'deceased' in states[i]['delta']:
            deceased+=int(states[i]['delta']['deceased'])

        if 'tested' in states[i]['delta']:
            tested+=int(states[i]['delta']['tested'])

        if 'vaccinated1' in states[i]['delta']:
            vaccinated1+=int(states[i]['delta']['vaccinated1'])

        if 'vaccinated2' in states[i]['delta']:
            vaccinated2+=int(states[i]['delta']['vaccinated2'])

        dict_states_delta_virus = {'state' : state_name_dict[state], 'state_short' : state, 'state_delta_confirmed' : confirmed, 'state_delta_recovered' : recovered, 'state_delta_deceased' : deceased, 'state_delta_tested' : tested, 'state_delta_vaccinated_1' : vaccinated1, 'state_delta_vaccinated_2' : vaccinated2}
        states_delta_virus.append(dict_states_delta_virus)

In [18]:
# creating dataframe of states delta
states_delta_virus_df = pd.DataFrame(states_delta_virus)
len(states_delta_virus_df)
states_delta_virus_df.head(3)

36

,state,state_short,state_delta_confirmed,state_delta_recovered,state_delta_deceased,state_delta_tested,state_delta_vaccinated_1,state_delta_vaccinated_2
0,Andaman and Nicobar Islands,AN,0,0,0,1376,3,13
1,Andhra Pradesh,AP,385,675,4,39848,20497,24137
2,Arunachal Pradesh,AR,1,9,0,334,42,195

In [18]:
# converting to csv states delta
states_delta_virus_df.to_csv('STATES_DELTA_VIRUS.csv',index=False)

**<h2>States Wise Delta7 Virus</h2>**

In [19]:
# loopng through the data for delta7_virus of states

states_delta7_virus = []
for i in states.keys():
    if i != 'TT':
        state = i
        confirmed = 0
        recovered = 0
        deceased = 0
        tested = 0
        vaccinated1 = 0
        vaccinated2 = 0
        if 'confirmed' in states[i]['delta7']:
            confirmed+=int(states[i]['delta7']['confirmed'])

        if 'recovered' in states[i]['delta7']:
            recovered+=int(states[i]['delta7']['recovered'])

        if 'deceased' in states[i]['delta7']:
            deceased+=int(states[i]['delta7']['deceased'])

        if 'tested' in states[i]['delta7']:
            tested+=int(states[i]['delta7']['tested'])

        if 'vaccinated1' in states[i]['delta7']:
            vaccinated1+=int(states[i]['delta7']['vaccinated1'])

        if 'vaccinated2' in states[i]['delta7']:
            vaccinated2+=int(states[i]['delta7']['vaccinated2'])

        dict_state_delta7_virus = {'state' : state_name_dict[state], 'state_short' : state, 'state_delta7_confirmed' : confirmed, 'state_delta7_recovered' : recovered, 'state_delta7_deceased' : deceased, 'state_delta7_tested' : tested, 'state_delta7_vaccinated_1' : vaccinated1, 'state_delta7_vaccinated_2' : vaccinated2}
        states_delta7_virus.append(dict_state_delta7_virus)

In [20]:
# states_delta7

In [21]:
# creating dataframe of states delta7_virus
states_delta7_virus_df = pd.DataFrame(states_delta7_virus)
len(states_delta7_virus_df)
states_delta7_virus_df.head(4)

36

,state,state_short,state_delta7_confirmed,state_delta7_recovered,state_delta7_deceased,state_delta7_tested,state_delta7_vaccinated_1,state_delta7_vaccinated_2
0,Andaman and Nicobar Islands,AN,3,5,0,8936,884,10640
1,Andhra Pradesh,AP,2873,3590,30,254532,1223010,1887005
2,Arunachal Pradesh,AR,66,97,0,4788,3312,23647
3,Assam,AS,2056,2215,24,269097,274869,849889

In [21]:
# converting to csv states delta7
states_delta7_virus_df.to_csv('STATES_DELTA7_VIRUS.csv',index=False)

**<h2>States And Then District Wise</h2>**

In [22]:
# loopng through the data for total values for district of states

states_district=[]

for i in states.keys():
    state = i
    if state=='TT':
        continue
    else:
        d1=states[state]["districts"]
        for j in d1.keys():
            district = j
            if 'meta' in d1[j]:
                if 'population' in d1[j]['meta']: 
                    population = d1[j]['meta']['population']
            if 'total' in  d1[j]:
                if 'confirmed' in d1[j]['total']:
                   confirmed = d1[j]['total']['confirmed']
                else:
                    confirmed = '0'
                if 'deceased' in d1[j]['total']:
                   deceased = d1[j]['total']['deceased']
                else:
                    deceased = '0'
                if 'recovered' in d1[j]['total']:
                   recovered = d1[j]['total']['recovered']
                else:
                    recovered = '0'
                if 'tested' in d1[j]['total']:
                   tested = d1[j]['total']['tested']
                else:
                    tested = '0'
                if 'vaccinated1' in d1[j]['total']:
                   vaccinated1 = d1[j]['total']['vaccinated1']
                else:
                    vaccinated1 = '0'
                if 'vaccinated2' in d1[j]['total']:
                   vaccinated2 = d1[j]['total']['vaccinated2']
                else:
                    vaccinated2 = '0'
                dict_states_district = {'state_name' : state_name_dict[state],'State':state, 'District':district,'Population':population,'Confirmed':confirmed, 'Deceased':deceased, 'Recovered':recovered,'Tested':tested,'Vaccinated1':vaccinated1,'Vaccinated2':vaccinated2}
                states_district.append(dict_states_district)

In [23]:
# list2

In [24]:
# creating dataframe of district total
states_district_df = pd.DataFrame(states_district)
len(states_district_df)
states_district_df.head(6)

747

,state_name,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
0,Andaman and Nicobar Islands,AN,Nicobars,36842,0,0,0,0,25394,20313
1,Andaman and Nicobar Islands,AN,North and Middle Andaman,105597,0,0,0,0,78945,59522
2,Andaman and Nicobar Islands,AN,South Andaman,238142,0,0,0,0,189662,120322
3,Andaman and Nicobar Islands,AN,Unknown,238142,7651,129,7518,0,0,0
4,Andhra Pradesh,AP,Anantapur,4083315,157843,1093,156699,787085,2690082,1611476
5,Andhra Pradesh,AP,Chittoor,4170468,246935,1947,244144,780322,2832987,1807873

In [25]:
# df2

In [25]:
# converting to csv district total
states_district_df.to_csv('STATES_DISTRICT.csv',index=False)

**<h2>States And Then District Wise Delta Virus</h2>**

In [26]:
# loopng through the data for delta values for district of states

states_district_delta_virus = []

for i in states.keys():
    state =i
    if state=='TT':
        continue
    else:
        d1=states[i]["districts"]
        for j in d1.keys():
            district = j
            if 'meta' in d1[j]:
                if 'population' in d1[j]['meta']: 
                    population = d1[j]['meta']['population']
            if 'delta' in  d1[j]:
                if 'confirmed' in d1[j]['delta']:
                   confirmed= d1[j]['delta']['confirmed']
                else:
                    confirmed ='0'
                if 'deceased' in d1[j]['delta']:
                   deceased = d1[j]['delta']['deceased']
                else:
                    deceased ='0'
                if 'recovered' in d1[j]['delta']:
                   recovered = d1[j]['delta']['recovered']
                else:
                    recovered ='0'
                if 'tested' in d1[j]['delta']:
                   tested = d1[j]['delta']['tested']
                else:
                    tested ='0'
                if 'vaccinated1' in d1[j]['delta']:
                   vaccinated1 = d1[j]['delta']['vaccinated1']
                else:
                    vaccinated1 ='0'
                if 'vaccinated2' in d1[j]['delta']:
                   vaccinated2 = d1[j]['delta']['vaccinated2']
                else:
                    vaccinated2 ='0'
                dict_states_district_delta_virus = {'State':state, 'District':district,'Population':population,'Confirmed':confirmed, 'Deceased':deceased, 'Recovered':recovered,'Tested':tested,'Vaccinated1':vaccinated1,'Vaccinated2':vaccinated2}
                states_district_delta_virus.append(dict_states_district_delta_virus)

In [27]:
# district_delta

In [28]:
# creating dataframe of district delta
states_district_delta_virus_df = pd.DataFrame(states_district_delta_virus)
len(states_district_delta_virus_df)
states_district_delta_virus_df.sample(10)

697

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
678,WB,Dakshin Dinajpur,1670931,14,0,16,0,724,998
235,JK,Punch,476820,0,0,0,0,45,3190
210,JH,Jamtara,790207,0,0,0,0,973,1373
443,OR,Puri,1697983,15,1,7,0,2991,6548
92,BR,Sitamarhi,3419622,0,0,0,0,3873,5476
420,OR,Angul,1271703,1,0,3,0,9,38
666,UT,Haridwar,1927029,1,0,0,0,224,1907
557,TN,Namakkal,1721179,43,0,51,0,168,442
504,RJ,Sirohi,1037185,0,0,0,0,480,589
434,OR,Kandhamal,731952,0,0,0,0,847,529

In [30]:
# converting to csv district delta
states_district_delta_virus_df.to_csv('STATES_DISTRICT_DELTA_VIRUS.csv', index=False)

**<h2>States And Then District Wise Delta7 Virus</h2>**

In [29]:
# loopng through the data for delta7 values for district of states

states_district_delta7_virus = []

for i in states.keys():
    state = i
    if state=='TT':
        continue
    else:
        d1 = states[i]["districts"]
        for j in d1.keys():
            district = j
            if 'meta' in d1[j]:
                if 'population' in d1[j]['meta']: 
                    population = d1[j]['meta']['population']
            if 'delta7' in  d1[j]:
                if 'confirmed' in d1[j]['delta7']:
                   confirmed= d1[j]['delta7']['confirmed']
                else:
                    confirmed ='0'
                if 'deceased' in d1[j]['delta7']:
                   deceased = d1[j]['delta7']['deceased']
                else:
                    deceased ='0'
                if 'recovered' in d1[j]['delta7']:
                   recovered = d1[j]['delta7']['recovered']
                else:
                    recovered ='0'
                if 'tested' in d1[j]['delta7']:
                   tested = d1[j]['delta7']['tested']
                else:
                    tested ='0'
                if 'vaccinated1' in d1[j]['delta7']:
                   vaccinated1 = d1[j]['delta7']['vaccinated1']
                else:
                    vaccinated1 ='0'
                if 'vaccinated2' in d1[j]['delta7']:
                   vaccinated2 = d1[j]['delta7']['vaccinated2']
                else:
                    vaccinated2 ='0'
                dict_states_district_delta7_virus = {'State':state, 'District':district,'Population':population,'Confirmed':confirmed, 'Deceased':deceased, 'Recovered':recovered,'Tested':tested,'Vaccinated1':vaccinated1,'Vaccinated2':vaccinated2}
                states_district_delta7_virus.append(dict_states_district_delta7_virus)

In [30]:
# district_delta7

In [31]:
# creating dataframe of district delta7
states_district_delta7_virus_df = pd.DataFrame(states_district_delta7_virus)
len(states_district_delta7_virus_df)

734

In [32]:
states_district_delta7_virus_df.sample(9)

,State,District,Population,Confirmed,Deceased,Recovered,Tested,Vaccinated1,Vaccinated2
155,GJ,Banaskantha,3116045,0,0,0,0,16080,82985
272,KA,Chitradurga,1660378,17,0,12,0,45062,47252
179,GJ,Surat,4996391,38,1,30,0,35083,115694
85,BR,East Champaran,5082868,2,0,0,0,29316,84760
399,MP,Khargone,1872413,0,0,0,0,3049,32932
714,WB,Cooch Behar,2822780,77,0,93,0,122592,26214
725,WB,Nadia,5168488,302,8,326,0,251739,89327
647,UP,Etawah,1579160,0,0,0,0,52312,35349
220,JH,Deoghar,1491879,2,0,1,0,9801,19008

In [36]:
# converting to csv district delta7
states_district_delta7_virus_df.to_csv('STATES_DISTRICT_DELTA7_VIRUS.csv', index=False)

# **HERE WE ARE DONE WITH THE data.min.json**

    have to continue from here

**<h2>TimeSeries Link Data</h2>**

In [33]:
#Assigning the link
timeseries_min = requests.get('https://data.covid19india.org/v4/min/timeseries.min.json')

In [34]:
# Creating json
timeseries_min

In [35]:
# Creating json
timeseries = timeseries_min.json()

**<h2>Date Aggregation</h2>**

In [45]:
print(f'Total number of states in data : {len(timeseries)}')

Total number of states in data : 38

In [46]:
#  name of states in timeseries
timeseries.keys()

dict_keys(['AN', 'AP', 'AR', 'AS', 'BR', 'CH', 'CT', 'DL', 'DN', 'GA', 'GJ', 'HP', 'HR', 'JH', 'JK', 'KA', 'KL', 'LA', 'LD', 'MH', 'ML', 'MN', 'MP', 'MZ', 'NL', 'OR', 'PB', 'PY', 'RJ', 'SK', 'TG', 'TN', 'TR', 'TT', 'UN', 'UP', 'UT', 'WB'])

In [47]:
# looping through data to create table like form for TOTAL key of each states date


timeseries_date_total = []

for i in timeseries.keys():
    if i not in ('TT','UN'):
        for j in timeseries[i]:
            for k in timeseries[i][j]:
                state_time = i
                date = k
                confirmed = 0
                recovered = 0
                deceased = 0
                tested = 0
                vaccinated1 = 0
                vaccinated2 = 0
                if 'total' in timeseries[i][j][k] and i not in ('TT','UN'):
                    if 'confirmed' in timeseries[i][j][k]['total']:
                        confirmed += int(timeseries[i][j][k]['total']['confirmed'])

                    if 'recovered' in timeseries[i][j][k]['total']:
                        recovered += int(timeseries[i][j][k]['total']['recovered'])

                    if 'deceased' in timeseries[i][j][k]['total']:
                        deceased += int(timeseries[i][j][k]['total']['deceased'])

                    if 'tested' in timeseries[i][j][k]['total']:
                        tested += int(timeseries[i][j][k]['total']['tested'])

                    if 'vaccinated1' in timeseries[i][j][k]['total']:
                        vaccinated1 += int(timeseries[i][j][k]['total']['vaccinated1'])

                    if 'vaccinated2' in timeseries[i][j][k]['total']:
                        vaccinated2 += int(timeseries[i][j][k]['total']['vaccinated2'])

                    dict_timeseries_date_total = {'state' : state_name_dict[state_time], 'state_short' : state_time, 'date' : date, 'total_confirmed' : confirmed, 'total_recovered' : recovered, 'total_deceased' : deceased, 'total_tested' : tested, 'total_vaccinated_1' : vaccinated1, 'total_vaccinated_2' : vaccinated2}

                    timeseries_date_total.append(dict_timeseries_date_total)

In [48]:
# creating dataframe of date total and viewing
timeseries_date_total_df = pd.DataFrame(timeseries_date_total)
len(timeseries_date_total_df)
timeseries_date_total_df.tail(8)

21003

,state,state_short,date,total_confirmed,total_recovered,total_deceased,total_tested,total_vaccinated_1,total_vaccinated_2
20995,West Bengal,WB,2021-10-24,1586455,1559518,19055,18928189,52382569,19688135
20996,West Bengal,WB,2021-10-25,1587260,1560325,19066,18957289,53048088,20047308
20997,West Bengal,WB,2021-10-26,1588066,1561136,19081,18995979,53668714,20361803
20998,West Bengal,WB,2021-10-27,1589042,1561973,19096,19039301,53992006,20590859
20999,West Bengal,WB,2021-10-28,1590032,1562818,19105,19084738,54524323,20878857
21000,West Bengal,WB,2021-10-29,1591014,1563678,19113,19133755,55226050,21196433
21001,West Bengal,WB,2021-10-30,1591994,1564558,19126,19180886,55982557,21500866
21002,West Bengal,WB,2021-10-31,1592908,1565471,19141,19228303,56192166,21559747

In [49]:
# Converting date total to csv
timeseries_date_total_df.to_csv('TIMESERIES_DATE_TOTAL.csv',index = False)

**<h2>Date Aggregation Delta Virus</h2>**

In [50]:
# looping through data to create table like form for DELTA key of each states date

timeseries_date_total_delta_virus = []

for i in timeseries.keys():
    for j in timeseries[i]:
        for k in timeseries[i][j]:                
            state = i
            date = k
            confirmed = 0
            recovered = 0
            deceased = 0
            tested = 0
            vaccinated1 = 0
            vaccinated2 = 0
            if 'delta' in timeseries[i][j][k] and i not in ('TT','UN'):
                if 'confirmed' in timeseries[i][j][k]['delta']:
                    confirmed += int(timeseries[i][j][k]['delta']['confirmed'])

                if 'recovered' in timeseries[i][j][k]['delta']:
                    recovered += int(timeseries[i][j][k]['delta']['recovered'])

                if 'deceased' in timeseries[i][j][k]['delta']:
                    deceased += int(timeseries[i][j][k]['delta']['deceased'])

                if 'tested' in timeseries[i][j][k]['delta']:
                    tested += int(timeseries[i][j][k]['delta']['tested'])

                if 'vaccinated1' in timeseries[i][j][k]['delta']:
                    vaccinated1 += int(timeseries[i][j][k]['delta']['vaccinated1'])
                    
                if 'vaccinated2' in timeseries[i][j][k]['delta']:
                    vaccinated2 += int(timeseries[i][j][k]['delta']['vaccinated2'])

                dict_timeseries_date_total_delta_virus = {'state' : state_name_dict[state], 'state_short' : state, 'date' : date, 'delta_confirmed' : confirmed, 'delta_recovered' : recovered, 'delta_deceased' : deceased, 'delta_tested' : tested, 'delta_vaccinated_1' : vaccinated1, 'delta_vaccinated_2' : vaccinated2}

                timeseries_date_total_delta_virus.append(dict_timeseries_date_total_delta_virus)

In [51]:
# creating dataframe of date total and viewing
timeseries_date_total_delta_virus_df = pd.DataFrame(timeseries_date_total_delta_virus)
len(timeseries_date_total_delta_virus_df)
timeseries_date_total_delta_virus_df.sample(3)

20520

,state,state_short,date,delta_confirmed,delta_recovered,delta_deceased,delta_tested,delta_vaccinated_1,delta_vaccinated_2
718,Andhra Pradesh,AP,2020-08-31,10004,8772,85,56490,0,0
3116,Chandigarh,CH,2020-11-30,67,144,1,710,0,0
2281,Assam,AS,2021-10-30,283,371,4,39808,46507,128621

In [52]:
# Converting date total to csv
timeseries_date_total_delta_virus_df.to_csv('TIMESERIES_DATE_TOTAL_DELTA_VIRUS.csv',index = False)

**<h2>Date Aggregation Delta7 Virus</h2>**

In [53]:
# looping through data to create table like form for DELTA key of each states date

timeseries_date_total_delta7_virus = []

for i in timeseries.keys():
    for j in timeseries[i]:
        for k in timeseries[i][j]:                
            state = i
            date = k
            confirmed = 0
            recovered = 0
            deceased = 0
            tested = 0
            vaccinated1 = 0
            vaccinated2 = 0
            if 'delta7' in timeseries[i][j][k] and i not in ('TT','UN'):
                if 'confirmed' in timeseries[i][j][k]['delta7']:
                    confirmed += int(timeseries[i][j][k]['delta7']['confirmed'])

                if 'recovered' in timeseries[i][j][k]['delta7']:
                    recovered += int(timeseries[i][j][k]['delta7']['recovered'])

                if 'deceased' in timeseries[i][j][k]['delta7']:
                    deceased += int(timeseries[i][j][k]['delta7']['deceased'])

                if 'tested' in timeseries[i][j][k]['delta7']:
                    tested += int(timeseries[i][j][k]['delta7']['tested'])

                if 'vaccinated1' in timeseries[i][j][k]['delta7']:
                    vaccinated1 += int(timeseries[i][j][k]['delta7']['vaccinated1'])
                    
                if 'vaccinated2' in timeseries[i][j][k]['delta7']:
                    vaccinated2 += int(timeseries[i][j][k]['delta7']['vaccinated2'])

                dict_timeseries_date_total_delta7_virus = {'state' : state_name_dict[state], 'state_short' : state, 'date' : date, 'delta_confirmed' : confirmed, 'delta_recovered' : recovered, 'delta_deceased' : deceased, 'delta_tested' : tested, 'delta_vaccinated_1' : vaccinated1, 'delta_vaccinated_2' : vaccinated2}

                timeseries_date_total_delta7_virus.append(dict_timeseries_date_total_delta7_virus)

In [54]:
# creating dataframe of date total and viewing
timeseries_date_total_delta7_virus_df = pd.DataFrame(timeseries_date_total_delta7_virus)
len(timeseries_date_total_delta7_virus_df)
timeseries_date_total_delta7_virus_df.head(8)

20953

,state,state_short,date,delta_confirmed,delta_recovered,delta_deceased,delta_tested,delta_vaccinated_1,delta_vaccinated_2
0,Andaman and Nicobar Islands,AN,2020-03-26,1,0,0,0,0,0
1,Andaman and Nicobar Islands,AN,2020-03-27,6,0,0,0,0,0
2,Andaman and Nicobar Islands,AN,2020-03-28,9,0,0,0,0,0
3,Andaman and Nicobar Islands,AN,2020-03-29,9,0,0,0,0,0
4,Andaman and Nicobar Islands,AN,2020-03-30,10,0,0,0,0,0
5,Andaman and Nicobar Islands,AN,2020-03-31,10,0,0,0,0,0
6,Andaman and Nicobar Islands,AN,2020-04-01,10,0,0,0,0,0
7,Andaman and Nicobar Islands,AN,2020-04-02,9,0,0,0,0,0

In [55]:
# Converting date total to csv
timeseries_date_total_delta7_virus_df.to_csv('TIMESERIES_DATE_TOTAL_DELTA7_VIRUS.csv',index = False)

- <h1>DATAFRAME PART COMPLETED</h1>